<a [routerLink]="['/member/'+user.id]" routerLinkActive="active"> 
<div class="card">
  <img class="card-img-top" src="{{user.photoUrl ? user.photoUrl : '../../../assets/user.png'}}" alt="{{user.knownAs}}'s Main Photo">
  <div class="card-img-overlay">
    <h4 class="bg-warning d-inline px-2">{{user.knownAs}}</h4>
  </div>
  <div class="card-img-overlay buttons animate">
    <div class="col-sm-12 text-center btn-group position-relative" style="top:100px;">
      <div class="col-sm-4">
        <button class="btn btn-secondary">
          <fa name="user"></fa>
        </button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-secondary">
          <fa name="heart"></fa>
        </button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-secondary">
          <fa name="envelope"></fa>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body mt-3">
    <p class="card-text text-center">
      <fa name="user" class="mr-1"></fa> {{user.knownAs}}, {{user.age}}</p>
    <p class="card-text text-info text-center">{{user.city}}, {{user.country}}</p>
  </div>
</div>
</a>