<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active" >Dating App</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/member-lists']" routerLinkActive="active" >Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/lists']" routerLinkActive="active" >Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="active" >Messages</a>
      </li>
    </ul>
    <div class="float-right">
      <form #loginForm="ngForm" *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input #username="ngModel" class="form-control form-control-sm mr-sm-2" type="email" placeholder="email" aria-label="email"
          required name="UserName" [(ngModel)]="model.UserName">
        <input #password="ngModel" class="form-control form-control-sm mr-sm-2" type="password" placeholder="password" aria-label="password"
          required name="Password" [(ngModel)]="model.Password">
        <button [disabled]="!loginForm.valid" class="btn btn-light btn-sm" type="submit">login</button>
      </form>
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Sign Out</a>
        </li>
      </ul>
    </div>
    <div class="float-right" *ngIf="loggedIn()">
      <ul class="navbar-nav mr-auto" dropdown>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" dropdownToggle>
            Welcome {{authService.decodedToken?.unique_name | titlecase}}
          </a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">
              <fa name="user" class="mr-2"></fa>Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">
              <fa name="sign-out" class="mr-1"></fa>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>