<div *ngIf="!registerMode" class="text-center mt-3">
  <h1>Register</h1>
  <p class="lead">Sign up to view your matches!</p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg mr-1" (click)="registerToggle()">Register</button>
    <button class="btn btn-primary btn-lg ml-1">Learn More</button>
  </div>
</div>

<div *ngIf="registerMode" class="container mt-3">
  <div class="col-md-4 offset-md-4">
    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
</div>